<footer class="bg-success" >
  
    <div class="container bg-success">
        <div class="row">
          <div class="col-sm">
            <h1 class="text-white">.Contatos </h1>
            <!--<img src="*" alt="" width="100" height="100" class="d-inline-block align-text-top"> -->
                <br>
                
                <img src="/images/mapa.png" alt="" width="300" height="200" class="d-inline-block align-text-top">
          </div>
          
          <div class="col-sm">
              <br>
              <br>
              <br>
              <br>
            <form>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">Newslatter</span>
                  <input type="text" class="form-control" placeholder="Seu e-mail" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                </form>
                <br>

            <ul class="list-group bg-success">
                <li class="list-group-item bg-success text-white">Minha Conta</li>
                <li class="list-group-item bg-success text-white">Perguntas Frequentes</li>
                <li class="list-group-item bg-success text-white">Devolução e Privacidade</li>
              </ul>
          </div>
         
          <div class="col-sm">
            <br>
            <br>
            <br>
            <br>
            
                   <img src="/images/ic_sharp-whatsapp.png" alt="" width="40" height="40" img> 
                   <img src="/images/Vector (4).png" alt="" width="40" height="40" img> 
                   <img src="/images/Vector (13).png" alt="" width="40" height="40" img> 
                   <img src="/images/brandico_twitter-bird.png" alt="" width="40" height="40" img>
            <br>
            <br>
            <br>
             <img src="/images/ic_baseline-pix.png" alt="" width="40" height="40" img>
             <img src="/images/la_cc-amex.png" alt="" width="40" height="40" img> 
             <img src="/images/Vector (14).png" alt="" width="40" height="40" img> 
             <img src="/images/Vector (15).png" alt="" width="40" height="40" img>
          </div>
        </div>
      </div>
              <br>
              <br>
              <br>
  </footer>


  
