<footer>

    <div class="container">
        <div class="logo-icon">
            <img src="/images/plantae.png" alt="iconePalntae"width="25" height="50" style="border:0;">
            
        </div>
        <br>
        <h1>Plantae</h1>
        <nav>
            <ul>
                <li><a href="">Minha Conta</a></li>
                <li><a href="/views/servicos.ejs">Perguntas frequentes</a></li>
                <li><a href="/views/contato.ejs">Contato</a></li>
                <li><a href="/views/devolucaoEprivacidade.ejs">Devolução e Privacidade</a></li>
            </ul>
        </nav>
        <div class="info">
            <p><a href="mailto:contato@plantae.com.br">contato@plantae.com.br</a> <br>
                <a href="tel:+5511984848484">(11) 98484-8484 (whatsapp)</a></p>
  
            <p>
                Avenida de Londres <br>
                Bairro Londrino <br>
                SÃO PAULO- SP
            </p>
        </div>
        <div class="mapa">
            <iframe
                src=""
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
  </footer>