<header>
    <div class="container">
        <a class="logo" href=><img src="/images/plantae.png" alt=".plantae"></a>
    <nav>
        <ul>
            <li><a href="/views/minhaConta.ejs">Minha Conta</a></li>
            <li><a href="/views/servicos.ejs">Carrinho</a></li>
</ul>

  </div>
  <div>
<nav>
    <ul>
        <li><a href=""></a>Mais Vendidas</li>
        <li><a href=""></a>Viveiro</li>
        <li><a href=""></a>Plantas aereas</li>
        <li><a href=""></a>Ornamentais</li>
        <li><a href=""></a>Dicas e cuidados</li>
        <li><a href=""></a>Serviços</li>
    </ul>
</nav>
  </div>
  </header>