<<<<<<< HEAD
<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/images/plantefundoBranco.jpg" alt="" width="100" height="100" class="d-inline-block align-text-top">
        <br>
        <h1 class="text-success">.Plantae</h1>
  <nav>
     <!--Button  -->
        
            <nav>
              <ul class="nav justify-content-end">
                <a class="nav-link active text-success" aria-current="page" href="#">Minha Conta</a>
                <a class="nav-link active text-success" aria-current="page" href="#">Carrinho</a>
              </ul>
            </nav>
       
    <!--Menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-success" href="#">Mais Vendidas</a>
    <button class="navbar-toggler" type="button"> </button>
  </div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-success" href="../viveiro.ejs">Viveiro</a>
    <button class="navbar-toggler t" type="button"> </button>
  </div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-success" href="#">Contatos</a>
    <button class="navbar-toggler" type="button"> </button>
  </div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-success" href="#">Sobre Nós</a>
    <button class="navbar-toggler" type="button"> </button>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-success" href="#">Dicas e Cuidados</a>
      <button class="navbar-toggler" type="button"> </button>
    </div>
=======
<header class="d-flex  container m-auto ">
  
  <!--logo -->
>>>>>>> db7c5925c82bcbdac82ba500bf96f3a72aa598db
  
    <nav class="navbar navbar-light bg-light border-bottom border-success">
      <div class="container">
        <a class="navbar-brand" href="./inicial">
          <img src="/images/plantefundoBranco.jpg" href="./inicial" alt="" width="100" height="60" 
          class="d-inline-block align-text-top">
      
          <h2 class="text-success">.Plantae</h2>
    <nav>
    <!--Carrinho-->
      <ul class="nav justify-content-end">
        <a class="nav-link active text-success" aria-current="page" href="./login">Minha Conta</a>
        <a class="nav-link active text-success" aria-current="page" href="./carrinho">Carrinho</a>
      </ul>
   <!--Barra de Navegação-->
      <nav class="navbar navbar-expand-lg navbar-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" 
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
              <a class="navbar-brand text-success" href="./maisVendidas">Mais Vendidas</a>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
              <a class="navbar-brand text-success" href="./viveiro">Viveiro</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand text-success" href="./contato">Contato</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand text-success" href="./dicasEcuidados">Dicas e Cuidados</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand text-success" href="./sobre">Sobre Nós</a>

          <!--Botao de Pesquisar-->
          <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Procure sua Plantae" aria-label="Search" >
           
        </form>
        </nav>
        </div>
      </nav>
</header>
