<header>
    <div class="container">
        <a class="logo" href="/"><img src="" alt=".plantae"></a>
    <nav>
        <ul>
            <li><a href="/views/minhaConta.ejs">Minha Conta</a></li>
            <li><a href="/views/servicos.ejs">Perguntas frequentes</a></li>
            <li><a href="/views/contato.ejs">Contato</a></li>
            <li><a href="/views/devolucaoEprivacidade.ejs">Devolução e Privacidade</a></li>
        </ul>
    </nav>
    </div>
  </header>