<header class="d-flex  container m-auto">
  
  <!--logo -->
  
    <nav class="navbar navbar-light bg-light ">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/images/plantefundoBranco.jpg" alt="" width="100" height="60" 
          class="d-inline-block align-text-top">
      
          <h2 class="text-success">.Plantae</h2>
    <nav>
    <!--Carrinho-->
      <ul class="nav justify-content-end">
        <a class="nav-link active text-success" aria-current="page" href="#">Minha Conta</a>
        <a class="nav-link active text-success" aria-current="page" href="#">Carrinho</a>
      </ul>
   <!--Barra de Navegação-->
      <nav class="navbar navbar-expand-lg navbar-light border-bottom border-success">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" 
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
              <a class="navbar-brand text-success" href="#">Mais Vendidas</a>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
              <a class="navbar-brand text-success" href="#">Viveiro</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand text-success" href="#">Contato</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand text-success" href="#">Dicas e Cuidados</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand text-success" href="#">Sobre Nós</a>

          <!--Botao de Pesquisar-->
          <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Procure sua Plantae" aria-label="Search" >
           
        </form>
        </nav>
        </div>
      </nav>
</header>
