
    <!--header -->
    
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/images/plantefundoBranco.jpg" alt="" width="100" height="100" class="d-inline-block align-text-top">
          <br>
          <h1>.Plantae</h1>
    <nav>
       <!--Button  -->
          
              <nav>
                <ul class="nav justify-content-end">
                  <a class="nav-link active" aria-current="page" href="#">Minha Conta</a>
                  <a class="nav-link active" aria-current="page" href="#">Carrinho</a>
                </ul>
              </nav>
         
      <!--Menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Mais Vendidas</a>
      <button class="navbar-toggler" type="button"> </button>
    </div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Viveiro</a>
      <button class="navbar-toggler" type="button"> </button>
    </div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Serviços</a>
      <button class="navbar-toggler" type="button"> </button>
    </div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dicas e Cuidados</a>
      <button class="navbar-toggler" type="button"> </button>
    </div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sobre Nós</a>
      <button class="navbar-toggler" type="button"> </button>
    </div>
    