<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>
    
    <main>
        <div class="container">
           <!--  <h1>OBRIGADO POR COMPRAR! SUA COMPRA ESTÁ SENDO ENCAMINHADA PARA O TRASPORTE!!</h1>
            <a href="./inicial" class="btn btn-outline-success btn-lg">Continuar Comprando</a> -->
            <div class="container-fluid">
                <div class="container text-center">
                    <h1>Obrigado!.</h1>
                    <a href="./inicial" class="btn btn-outline-success btn-lg">Continuar Comprando</a>
                    <p class="lead w-lg-50 mx-auto">Seu pedido foi feito com sucesso.</p>
                    <p class="w-lg-50 mx-auto">O número do seu pedido é <a href="#">9237427634826</a>
                    . Nós processaremos o seu imediatamente e ele será entregue em 2 a 5 dias úteis.</p>
                </div>
                <div class="container">
                    <h2 class="h5 mb-5 text-center">Você também pode gostar desses produtos
                    </h2>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card text-center mb-3">
                                <div class="py-5 px-4">
                                    <img src="https://i.imgur.com/Pyu5Iw3.jpg" alt="" class="img-fluid mb-4" />
                                    <h3 class="fs-6 text-truncate"><a href="#" class="stretched-link text-reset">Kit de jardinagem</a></h3>
                                    <span class="text-success">R$39.90</span> <del class="text-muted">$35.90</del>
                                </div>
                                <div class="bg-danger text-white small position-absolute end-0 top-0 px-2 py-2 lh-1 text-center">
                                    <span class="d-block">10%</span>
                                    <span class="d-block">OFF</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card text-center position-relative mb-3">
                                <div class="py-5 px-4">
                                    <img src="https://i.imgur.com/Jrodnpo.jpg" alt="" class="img-fluid mb-4" />
                                    <h3 class="fs-6 text-truncate"><a href="#" class="stretched-link text-reset">Kit de jardinagem PRO </a></h3>
                                    <span class="text-success">R$59.99</span> <del class="text-muted">R$44.99</del>
                                </div>
                                <div class="bg-danger text-white small position-absolute end-0 top-0 px-2 py-2 lh-1 text-center">
                                    <span class="d-block">25%</span>
                                    <span class="d-block">OFF</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card text-center mb-3">
                                <div class="py-5 px-4">
                                    <img src="https://i.imgur.com/OQ5HSRv.jpg" alt="" class="img-fluid mb-4" />
                                    <h3 class="fs-6 text-truncate"><a href="#" class="stretched-link text-reset">kit de jardinagem </a></h3>
                                    <span class="text-success">R$52.99</span> <del class="text-muted">R$26.49</del>
                                </div>
                                <div class="bg-danger text-white small position-absolute end-0 top-0 px-2 py-2 lh-1 text-center">
                                    <span class="d-block">50%</span>
                                    <span class="d-block">OFF</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card text-center mb-3">
                                <div class="py-5 px-4">
                                    <img src="https://i.imgur.com/Jrodnpo.jpg" alt="" class="img-fluid mb-4" />
                                    <h3 class="fs-6 text-truncate"><a href="#" class="stretched-link text-reset">Kit de jardinagem ELITE</a></h3>
                                    <span class="text-success">R$110.00</span> <del class="text-muted">R$85.23</del>
                                </div>
                                <div class="bg-danger text-white small position-absolute end-0 top-0 px-2 py-2 lh-1 text-center">
                                    <span class="d-block">25%</span>
                                    <span class="d-block">OFF</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
<%- include('./partials/footer'); %>
</html>
</html>