<!doctype html>
<html lang="en">


  <head>
  <%- include('./partials/head'); %>
</head>
<body>
<header>
  <%- include('./partials/header'); %>
</header>
<!--Carrosel-->
<main>
  <nav class="mx-auto" style="width: 1100px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <img src="../images/CarroselRosas.jpg" class="img-fluid" height="auto">
        </div>
        <div class="carousel-item">
          <img src="../images/1920x1080.jpg" class="img-fluid" height="auto"  >
        </div>
        <div class="carousel-item">
          <img src="../images/1920x1080.jpg" class="img-fluid" height="auto">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <br>
    <br>
  </nav>
  

<!--Abaixo do carrossel
<nav class=" card  text-white mx-auto " style="width: 400px;">
  <img src="../images/MaisVendida (3).png">
  <div class="card-img-overlay">
    <h5 class="card-title">Mais Vendidas</h5>
  </div>
  </nav>
-->
  

<!--imagem dupla-->
<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight"><img src="../images/MaisVendida (3).png" width="400"></div>
</div>
<div class="d-flex flex-column bd-highlight mb-3 flex-row">
  <div class="p-2 bd-highlight"><img src="../images/MaisVendida (3).png" width="400"></div>
  <div class="p-2 bd-highlight"><img src="../images/MaisVendida (3).png" width="400"></div>
</div>

  <!--
  <div class="p-2 bd-highlight"><img src="../images/MaisVendida (3).png" height="100" width="500" ></div>
  <div class="p-2 bd-highlight"><img src="../images/MaisVendida (3).png"></div>
</div>
 
<!--Salle Of-->
 <nav class="mx-auto " style="width: 1000px;">
  <h1 class="text-center"> Salle Of</h1>
   <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100" >
        <img src="../images/MaisVendida (3).png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ornamentais</h5>
          <p class="card-text">R$ 39,90</p>  
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" >
        <img src="../images/MaisVendida (3).png"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ornamentais</h5>
          <p class="card-text">R$ 39,90</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" ><a href="#"></a>
        <img src="../images/MaisVendida (3).png" href="sobre.html" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ornamentais</h5>
          <p class="card-text">R$ 39,90</p>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
 </nav>
    
    
    </div>
    <!--Serviços-->
 <nav class="mx-auto" style="width: 1000px;">
  <h1 class="text-center">Serviços</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
   <div class="col">
     <div class="card h-100" >
       <img src="../images/MaisVendida (3).png" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">Paisagismo</h5>
         <p class="card-text"> Projete seu Jardim com um serviço especializado, orientação e cuidados com o jardim. </p>  
       </div>
     </div>
   </div>
   <div class="col">
     <div class="card h-100" >
       <img src="../images/MaisVendida (3).png"  class="card-img-top" alt="...">
       <div class="card-body">
        <h5 class="card-title">Arranjos Florais</h5>
        <p class="card-text"> Projete seu Jardim com um serviço especializado, orientação e cuidados com o jardim. </p>  
       </div>
     </div>
   </div>
   <div class="col">
     <div class="card h-100" ><a href="#"></a>
       <img src="../images/MaisVendida (3).png" href="sobre.html" class="card-img-top" alt="...">
       <div class="card-body">
        <h5 class="card-title">Semente</h5>
        <p class="card-text"> Projete seu Jardim com um serviço especializado, orientação e cuidados com o jardim. </p>  
       </div>
     </div>
   </div>
     </div>
   </div>
 </div>
</nav>
   
   
   </div>
    
   
</main>
</body>
<footer>
  <%- include('./partials/footer'); %>
</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>

</html>