<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>
    <main>
        <section class="sobre">
            <div class="container">
                <img src="/images/xxxxx.png" alt="Foto lalalalala">
                <div class="text">
                    <h1>Sobre nós</h1>

                    <p>Um breve texto contando como a marca nasceu, e como este modelo de negócio vem como alternativa para inclusão de mais verde na vida das pessoas com responsabilidade e bem-estar.

Nullam in lectus luctus, posuere ipsum a, placerat ex. Cras vestibulum dictum diam et auctor. Duis facilisis quis justo non varius. Nunc nec ex non lectus sollicitudin hendrerit. Ut a velit vel justo faucibus sollicitudin sit amet id mauris. Nam scelerisque massa at quam consectetur dignissim. Vestibulum non ullamcorper tortor. Etiam eu libero et neque feugiat egestas. Phasellus eget fringilla nulla, ut eleifend augue. </p>

<p>Um breve texto contando como a marca nasceu, e como este modelo de negócio vem como alternativa para inclusão de mais verde na vida das pessoas com responsabilidade e bem-estar.

Nullam in lectus luctus, posuere ipsum a, placerat ex. Cras vestibulum dictum diam et auctor. Duis facilisis quis justo non varius. Nunc nec ex non lectus sollicitudin hendrerit. Ut a velit vel justo faucibus sollicitudin sit amet id mauris. Nam scelerisque massa at quam consectetur dignissim. Vestibulum non ullamcorper tortor. Etiam eu libero et neque feugiat egestas. Phasellus eget fringilla nulla, ut eleifend augue. </p>

                </div>
            </div>
        </section>

    </main>

    <%- include('./partials/footer') %>

<script>window.rwbp={email:'contato@plantae.com.br',phone:'5511999999999',message:'Olá! Como podemos te ajudar hoje?',lang:'pt-BR'}</script><script defer async src='https://duz4dqsaqembt.cloudfront.net/client/whats.js'></script>

</body>

</html>
