<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>

    <body>
        <%- include('./partials/header'); %>
            <main>

                <h2>.Terrários</h2>

                <div class="terrarios">

                    <div class="terrario1">
                        <img src="../css/img/terrario1.png" id="fotoTerraio1"
                            alt="Planta ornamental dentro de um cubo de vidro lacrado">

                        <a target="_self" href="" rel="norrefer" id="linkTerraio1">Terracota</a>
                        <h3>R$90,00</h3>
                    </div>

                    <div class="terrario2">
                        <img src="../css/img/terrario2.png" id="fotoTerraio2"
                            alt="Planta ornamental dentro de um cubo de vidro lacrado">

                        <a target="_self" href="" rel="norrefer" id="linkTerraio2">Cubus</a>
                        <h3>R$150,00</h3>

                    </div>

                    <div class="terrario3">
                        <img src="../css/img/terrario3.png" id="fotoTerraio3"
                            alt="Planta ornamental dentro de um cubo de vidro lacrado">

                        <a target="_self" href="" rel="norrefer" id="linkTerraio3">Pêndulo</a>
                        <h3>R$280,00</h3>

                    </div>

                    <div class="terrario4">
                        <img src="../css/img/terrario4.png" id="fotoTerraio4"
                            alt="Planta ornamental dentro de um cubo de vidro lacrado">

                        <a target="_self" href="" rel="norrefer" id="linkTerraio4">Compota</a>
                        <h3>R$50,00</h3>

                    </div>

                    <div class="terrario5">
                        <img src="../css/img/terrario5.png" id="fotoTerraio5"
                            alt="Planta ornamental dentro de um cubo de vidro lacrado">

                        <a target="_self" href="" rel="norrefer" id="linkTerraio5">Lampião</a>
                        <h3>R$50,00</h3>

                    </div>

                    <div class="terrario6">
                        <img src="../css/img/terrario6.png" id="fotoTerraio6"
                            alt="Planta ornamental dentro de um cubo de vidro lacrado">

                        <a target="_self" href="" rel="norrefer" id="linkTerraio6">Mantra</a>
                        <h3>R$50,00</h3>

                    </div>

                    <div class="terrario7">
                        <img src="../css/img/terrario7.png" id="fotoTerraio7"
                            alt="Planta ornamental dentro de um cubo de vidro lacrado">

                        <a target="_self" href="" rel="norrefer" id="linkTerraio7">Deserto</a>
                        <h3>R$50,00</h3>

                    </div>

                    <div class="terrario8">
                        <img src="../css/img/terrario8.png" id="fotoTerraio8"
                            alt="Planta ornamental dentro de um cubo de vidro lacrado">

                        <a target="_self" href="" rel="norrefer" id="linkTerraio8">Bol</a>
                        <h3>R$70,00</h3>

                    </div>
                </div>
            </main>
            <%- include('./partials/footer'); %>
    </body>

</html>