<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>


    <body>
        <%- include('./partials/header'); %>
            <main>

                <h2>.Viveiro</h2>

                <div class="viveiro">

                    <div class="ornamentais">
                        <img src="../css/img/ornamentais.png" id="fotoOrnamentais" alt="Planta decorativa em um vaso">
                        <div class="vaso">
                            <a target="_self" href="caminho pg ornamentais" rel="norrefer"
                                id="linkOrnamentais">Ornamentais</a>
                        </div>

                    </div>

                    <div class="sementes">
                        <img src="../css/img/sementes.png" id="fotoSementes"
                            alt="Sementes variadas saindo de potes de vidro">
                        <div class="vaso">
                            <a target="_self" href="caminho pg sementes" rel="norrefer" id="linkSementes">Sementes</a>
                        </div>

                    </div>

                    <div class="terrarios">
                        <img src="../css/img/terrario3.png" id="fotoTerrarios"
                            alt="Planta decorativa dentro de um cubo de vidro">
                        <div class="vaso">
                            <a target="_self" href="/Produtos/terrarios.html" rel="norrefer"
                                id="linkTerrarios">Terrarios</a>
                        </div>

                    </div>

                    <div class="pequenas">
                        <img src="../css/img/pequenas.png" id="fotoPequenas" alt="Planta decorativa tamanho pequeno">
                        <div class="vaso">
                            <a target="_self" href="caminho pg Pequenas" rel="norrefer" id="linkPequenas">Pequenas</a>
                        </div>

                    </div>

                    <div class="temperos">
                        <img src="../css/img/temperos.png" id="fotoTemperos"
                            alt="Planta em vaso para ser usada como tempero fresco">
                        <div class="vaso">
                            <a target="_self" href="caminho pg Temperos" rel="norrefer" id="linkTemperos">Temperos</a>
                        </div>

                    </div>

                    <div class="cactos">
                        <img src="../css/img/cactos.png" id="fotoCactos" alt="Cacto em um vaso">
                        <div class="vaso">
                            <a target="_self" href="caminho pg Cactos" rel="norrefer" id="linkCactos">Cactos</a>
                        </div>

                    </div>

                    <div class="aereas">
                        <img src="../css/img/aereas.png" id="fotoAereas" alt="Planta em vaso suspenso">
                        <div class="vaso">
                            <a target="_self" href="caminho pg Aereas" rel="norrefer" id="linkAereas">Aéreas</a>
                        </div>

                    </div>

                    <div class="carnivoras">
                        <img src="../css/img/carnivoras.png" id="fotoCarnivoras" alt="Planta em vaso">
                        <div class="vaso">
                            <a target="_self" href="caminho pg Carnivoras" rel="norrefer"
                                id="linkCarnivoras">Carnívoras</a>
                        </div>

                    </div>

                    <div class="Bonsais">
                        <img src="../css/img/bonsais.png" id="fotoBonsais" alt="Pequena árvore em vaso">
                        <div class="vaso">
                            <a target="_self" href="caminho pg Bonsais" rel="norrefer" id="linkBonsais">Bonsais</a>
                        </div>

                    </div>

                    <div class="materiais">
                        <img src="../css/img/materiais.png" id="fotoMateriais" alt="Materiais para jardinagem">
                        <div class="vaso">
                            <a target="_self" href="caminho pg Materiais" rel="norrefer" id="linkMateriais">Material</a>
                        </div>

                    </div>

                    <div class="frutiferas">
                        <img src="../css/img/frutiferas.png" id="fotoFrutiferas" alt="Planta frutifera em vaso">
                        <div class="vaso">
                            <a target="_self" href="caminho pg frutiferas" rel="norrefer"
                                id="linkfrutiferas">Frutíferas</a>
                        </div>

                    </div>

                    <div class="grandes">
                        <img src="../css/img/grandes.png" id="fotoGrandes" alt="Planta grande em vaso">
                        <div class="vaso">
                            <a target="_self" href="caminho pg grandes" rel="norrefer" id="linkgrandes">Grandes</a>
                        </div>

                    </div>

                </div>
    </body>
    </main>

    <%- include('./partials/footer'); %>

</html>