<!doctype html>
<html lang="en">

<<<<<<< HEAD
<% include('./partials/head') %>
=======
>>>>>>> 69d37abbad4c4ffc7771013444d28e883462b343

  <head>
  <%- include('./partials/head'); %>
</head>
<body>
<header>
  <%- include('./partials/header'); %>
</header>


<!-- ESCREVA SEU CODIGO AQUI-->


<<<<<<< HEAD
                    <div class="ornamentais">
                        <img src="public\images\ornamentais.png" id="fotoOrnamentais" alt="Planta decorativa em um vaso">
                        <div class="vaso">
                            <a target="_self" href="caminho pg ornamentais" rel="norrefer"
                                id="linkOrnamentais">Ornamentais</a>
                        </div>
=======
>>>>>>> 69d37abbad4c4ffc7771013444d28e883462b343

</body>
<footer>
  <%- include('./partials/footer'); %>
</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>

</html>